.resource-panel { flex-grow: 1.1; }

.composition-panel { flex-grow: .92; }

.priority-panel { flex-grow: 1.28; }

@media (height <= 820px) {
  .resource-panel { flex-grow: 1.16; }

  .composition-panel { flex-grow: .98; }

  .priority-panel { flex-grow: 1.2; }
}
